:root {
  --main-beige: "#f9fae8";
}

.App {
  text-align: center;
  display: inline;
}

.header-fixed-top {
  background: #b63456;
  color: white;
  margin: 0;
  max-height: "5px";
  min-height: "0px";
  width: 100vw;
  z-index: 5;
}

@font-face {
  font-family: "rosheila";
  src: url('../src/fonts/Rosheila.ttf')
}

@font-face {
  font-family: "fabriga";
  src: url('../src/fonts/Fabriga-Light.eot')
}
